  body{
    background-color:#F0F8FF;
  }

  h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color:#000000;
    background-color:#87CEEB;
    padding: 40px;
    outline-style: outset;
    outline-width:10px;
    outline-color:#003d66;
  }

/*Inpiration from: https://www.w3schools.com/css/css_navbar.asp */
ul.a {
  list-style-type:none;
  margin: 0px;
  padding:0px;
  overflow:hidden;
  background-color: #004d80;
  font-size: 18px;
  }

li.a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


  h2{
    text-align:left;
    font-size: 30px;
    color:#003d66;
    outline-style: outset;
    background-color:#ADD8E6;
    margin-top: 80px;
    outline-width:3px;
    outline-color:#003d66;
  }
  p{ 
    text-align:left;
    font-size: 20px;
    padding:0px;
    color: #000000;
  }
  
  /* Inpiration from: https://www.w3schools.com/css/css_link.asp*/
 /* Inpiration from: https://www.w3schools.com/css/css3_borders.asp */
  a{
  background-color: #004d80;
  color: #ffffff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}


  h3{
    color:#003d66;
    font-size: 30px;
    outline-style: outset;
    background-color:#ADD8E6;
    margin-top: 80px;
    outline-width:3px;
    outline-color:#003d66;
  }

/* Inpiration from: https://www.w3schools.com/css/css_table.asp*/
  table, td, th {
    border: 1px;
    color: #ffffff;
    font-size: 20px;
  }
  td{
    height: 50px;
    font-size:20px;
  }
  table{
    border: 10px;
    width: 50%;
  }
  th{
    padding: 8px;
    border: 1px solid;
    text-align:left;
    color:#4682B4;
    border: 8px;
  }
  tr{
    background-color: #4682B4;
    border 8px;
    
    }

h4{
font-size: 30px;
padding:2px;
text-align: left;
color:#003d66;
outline-style: outset;
background-color:#ADD8E6;
margin-top: 80px;
  outline-width:3px;
    outline-color:#003d66;
}

/*Inpiration from: https://www.w3schools.com/css/css_list.asp*/
ul.b{
list-style-type:circle;
  color: #000000;
  text-align: left;
  padding: 5px 10px;
  font-size: 30px;
}

li.b {
  
  color: #000000;
  text-align: left;
  padding: 5px 10px;
  font-size: 30px;
  
  }
h5
{text-align:left;
    font-size: 30px;
    color:#003d66;
    outline-style: outset;
    background-color:#ADD8E6;
    margin-top: 80px;
  outline-width:3px;
    outline-color:#003d66;
}

p{
  text-align:left;
    font-size: 20px;
    padding:1px;
    color: #0000CD;
    font-weight: bold;
}
</style>


