<style>
  body{
    background-color:#ADD8E6;
  }

  h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color:#000000;
  }

ul.a {
  list-style-type:none;
  margin: 0px;
  padding:0px;
  overflow:hidden;
  background-color: #004d80;
  }

li.a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

  h2{
    text-align:left;
    font-size: 30px;
    color:#003d66;
    outline-style: outset;
    background-color:#ADD8E6;
    margin-top: 80px;
  }
  p{ 
    text-align:left;
    font-size: 20px;
    padding:0px;
    color: #000000;
  }
  
  
  a{
  background-color: #004d80;
  color: #ffffff;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px;
}


  h3{
    color:#003d66;
    font-size: 30px;
    outline-style: outset;
    background-color:#ADD8E6;
    margin-top: 80px;
  }
  table, td, th {
    border: 1px;
    color: #ffffff;
    font-size: 20px;
  }
  td{
    height: 50px;
    font-size:20px;
  }
  table{
    border: 8px;
    width: 50%;
  }
  th{
    padding: 8px;
    border: 1px solid;
    text-align:left;
    color:#4682B4e;
    border: 8px;
  }
  tr{
    background-color: #4682B4;
    border 8px;
    }

h4{
font-size: 30px;
padding:2px;
text-align: left;
color:#003d66;
outline-style: outset;
background-color:#ADD8E6;
margin-top: 80px;
}

ul.b{
list-style-type:circle;
}

li.b {
  
  color: #4682B4;
  text-align: left;
  padding: 5px 10px;
  font-size: 20px;
  }
</style>



